#envelope {
  position: relative;
  width: 620px;
  height: 420px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b8b8b8;
  /* Warm romantic red */
  box-shadow: 0 4px 20px rgba(144, 144, 144, 0.2);
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-left: 310px solid transparent;
  border-right: 310px solid transparent;
  border-bottom: 250px solid transparent;
  /* a little smaller */
  border-top: 230px solid #b8b8b8;
  /* Same romantic red */
  /* a little larger */
  transform-origin: top;
  pointer-events: none;
}

.pocket {
  border-left: 310px solid #ececec;
  border-right: 310px solid #ececec;
  border-bottom: 200px solid #d1d1d1;
  border-top: 220px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative;
  background-color: #fff;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px;
  height: auto;
  top: 2%;
  border-radius: 6px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.letter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.words {
  display: block;
  width: fit-content;
  max-width: 95%;
  margin: 10px auto;
  background-color: #ffe6e6;
  padding: 5px 15px;
  border-radius: 4px;
  text-align: left;
  word-break: break-word;
  font-size: 1.3rem;
}

.words.line1 {
  top: 10%;
  font-size: 1.5rem;
  width: 20%;
  height: 7%;
  margin: 10px 0;
}

.words.line2 {
  top: 30%;
  font-size: 1.5rem;
  margin: 10px auto;
}

.words.line3 {
  top: 50%;
  font-size: 1.5rem;
  margin: 10px auto;

}

.words.line4 {
  top: 70%;
  font-size: 1.5rem;
  margin: 10px auto;

}

.words.line5 {
  top: 85%;
  font-size: 1.4rem;
  margin: 10px auto;
}

.words.line6 {
  top: 105%;
  font-size: 1.4rem;
  margin: 10px auto;
}

.words.line7 {
  top: 125%;
  font-size: 1.4rem;
  margin: 10px auto;
}

.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.close .flap {
  transform: rotateX(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}

.close .letter {
  transform: translateY(0px);
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
}

.open .letter {
  transform: translateY(-300px);
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  z-index: 2;
}

.hearts {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  z-index: 2;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 10%;
  pointer-events: none;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #e60073;
  /* Deep romantic pink */
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  pointer-events: none;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.close .heart {
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}

.a1 {
  left: 20%;
  transform: scale(0.6);
  opacity: 1;
  -webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.a2 {
  left: 55%;
  transform: scale(1);
  opacity: 1;
  -webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.a3 {
  left: 10%;
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }

  100% {
    top: -600px;
  }
}

@keyframes slideUp {
  0% {
    top: 0;
  }

  100% {
    top: -600px;
  }
}

@-webkit-keyframes sideSway {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

@keyframes sideSway {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 50px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0e6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* สูงเต็มหน้าจอ */
  box-sizing: border-box;
}

.envlope-wrapper {
  height: 380px;
  margin-bottom: 100px;
}

.reset {
  text-align: center;

}

.reset button {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 2px #fcadaa;
  border-radius: 4px;
  color: #d79d9c;
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  margin: 5px;
  padding: 15px 30px;
  line-height: 1em;
  text-decoration: none;
  min-width: 160px;
  cursor: pointer;
}

.reset button:hover {
  background-color: #eaa5a5;
  color: #fff;
}
@media (max-width: 480px) {
  #envelope {
    width: 95vw;
    height: auto;
  }

  .flap,
  .pocket {
    border-left: 45vw solid transparent;
    border-right: 45vw solid transparent;
  }

  .pocket {
    border-left-color: #ececec;
    border-right-color: #ececec;
  }
}